/* nav styling */
#nav_arrow {
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    border: red;
}

nav{
    background-color: red;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
	flex-direction: column;
    justify-content: space-between;
    padding: 7px;
}
nav li{
    display: block;
    padding: 7px;
    border: gold dotted 5px;
    margin: 7px;
}
  
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
    font-size: 15px;
    padding: 5px;
    /* border: gold dotted 5px; */
    /* padding: 20px 0px 20px 0px; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav_bar {
    display: none;
    /* visibility: hidden; */
}

nav a:active, a:hover {
    color:            gold;
    text-decoration: underline;
    /* background-color: #4f81bd; */
    /* border: black dotted 5px; */
}

a.current {
    color:            gold;
    text-decoration: underline;
}




.skip {
    background: black;
    left: 0;
    display: block;
    /* padding: 6px; */
    /* -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out; */
    z-index: 1;
    color:white;
    /* padding: 20px 10px; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0px;
    height: 0;
}
.skip:link { text-decoration: none; }

/*overall text styling*/
h1 p {
    color:white;
}

.about {
    margin: auto;
    justify-content: center;
}

/* body styling */
body {
    font-family: 'Poppins', serif;

}
.home {
    width: 100%;
    height: 100%;
    background: url('../images/songs_main.avif') no-repeat center center fixed;
    /* background-repeat: no-repeat; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 80px;
}

h1 {
    padding-top: 50px;
    font-size: 100px;
}

h3 {
    margin-bottom: 120px;
}

/* the image gallery */
* {
    box-sizing: border-box;
    margin: auto;
    position: relative;
    background-color: black;
}
#image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-gallery>button {
    color: white;
    border: none;
    font-size: x-large;
    font-weight: bold;
}

.mySlides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40vh;
}

/* image captions */
.text {
    color: #f2f2f2;
    text-decoration: underline dotted yellow;
    font-size: 25px;
    position: relative;
    margin: 10px;
}



/* the footer */
.main {
    display:flex;
    padding: 0;
    box-sizing: border-box;
}

.fa {
    color:black;
}

html,
body {
  place-items: center;
}

.wrapper {
    margin:auto;
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.fa-facebook {
    background: white;
    color: black;
}

.fa-twitter {
    background: white;
    color: black;
}

.fa-youtube {
    background: white;
    color: black;
}
.fa-instagram {
    background: white;
    color: black;
}
.fa:hover {
    opacity: 0.9;
}


/* TABLET */
@media screen and (min-width: 600px){

    /* nav styling */
    #nav_arrow {
        visibility: hidden;
    }
    
    #nav_bar {
        display: inline;
    }
    
    nav{
        background-color: red;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        /* justify-content: space-between; */
        padding: 7px;
    }
    nav li{
        display: block;
        padding: 15px;
        /* border: gold dotted 5px; */
        border: none;
        margin: 15px;
    }
      
    nav a{
        color: black;
        font-weight: bold;
        text-decoration: none; 
        font-size: 20px;
        padding: 12px;
        border: gold dotted 5px;
        /* border: gold dotted 5px; */
        /* padding: 20px 0px 20px 0px; */
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    
    nav a:active, a:hover {
        color:            gold;
        text-decoration: underline;
        /* background-color: #4f81bd; */
        /* border: black dotted 5px; */
    }
    
    a.current {
        color:            gold;
        text-decoration: underline;
    }
    
    }

/* DESKTOP */
@media screen and (min-width: 900px){
    /* nav styling */
    #nav_arrow {
        visibility: hidden;
    }
    
    #nav_bar {
        display: inline;
    }
    
    nav{
        background-color: red;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        /* flex-direction: row; */
        /* justify-content: space-between; */
        align-items: center;
        padding: 7px;
    }
    nav li{
        display: inline-block;
        padding: 15px;
        /* border: gold dotted 5px; */
        margin: 15px;
    }
      
    nav a{
        color: black;
        font-weight: bold;
        text-decoration: none; 
        font-size: 20px;
        padding: 20px;
        border: gold dotted 5px;
        /* border: gold dotted 5px; */
        /* padding: 20px 0px 20px 0px; */
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    
    nav a:active, a:hover {
        color:            gold;
        text-decoration: underline;
        /* background-color: #4f81bd; */
        /* border: black dotted 5px; */
    }
    
    a.current {
        color:            gold;
        text-decoration: underline;
    }

}
